POSTGRES_USER=postgres_user 

POSTGRES_PASSWORD=postgres_password

POSTGRES_DB=database_name 

POSTGRES_HOST=host_name 

POSTGRES_PORT=portname 

DATABASE_URL=postgresq://postgres:postgres@db:5432/classicmodels

LLM_MODEL= LLM_model_name 

ANTHROPIC_API_KEY=your-anthropic-api-key-here
